@tailwind base;
@tailwind components;
@tailwind utilities;

.sermonText{
  font-family:monospace; padding:20px; font-size:2rem; text-align:center; font-weight:600;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; /* Adjusted for rounded corners */
  background-color: #8c8c8c;
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #22272a;
  border-radius: 10px; /* Adjusted for round thumb */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #40aae2;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
